MONGODB_URL=mongodb+srv://rvishal5616_db_user:poLeiARCwt8ixBE0@cluster0.mongodb.net/channelx_db?retryWrites=true&w=majority
DATABASE_NAME=channelx_db
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30